.nav-link {
    font-size: 0.9rem;
}
.nav-item {
    padding: 0 10px;
    border-radius: 5px;
}
.nav-item a {
    color: black;
}
.nav-item:hover {
    background: linear-gradient(to right, #FF0099, #533581);
}
.nav-item:hover a {
    color: white;
}