<section class="section1" id="home">
  <div class="container h-100">
    <div class="row h-100">
      <div class="col-md-6 col-sm-12 h-100">
        <div class="content">
          <h1 class="w-100 text-bold white">
            DRAGON EARTH
          </h1>
          <p class="w-100 white sub-title">
            "A decentralised community meme token which will grow into complete ecosystem"
          </p>
          <div class="w-100">
            <button class="btn btn-default m-2">Join Telegram</button>
            <button class="btn btn-default m-2">Buy on PancakeSwap</button>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-12"></div>
    </div>
  </div>
</section>

<section class="section2 my-5 py-5">
  <div class="container my-5">
    <div class="row">
      <div class="col-lg-4 mb-5 col-sm-4 mb-lg-0 text-center">
        <div class="text-center mb-4">
          <i class="fa fa-address-book icon" aria-hidden="true"></i>
        </div>
        <h4>Redistribution</h4>
        <h6 class="mb-0">you just need to hold $DRAGON in your wallet to earn more yield.
          There is gigantic 6% fee on each transaction which is redistributed all the holders</h6>
      </div>
      <div class="col-lg-4 mb-5 col-sm-4 mb-lg-0 text-center">
        <div class="text-center mb-4">
          <i class="fa fa-address-book icon" aria-hidden="true"></i>
        </div>
        <h4>Community Powered</h4>
        <h6 class="mb-0">There is unlocking of true growth potential when it has a good community.And we include all the enthusiasts to be part of our decision making
          there by making it people's friendly crypto</h6>
      </div>
      <div class="col-lg-4 mb-5 col-sm-4 mb-lg-0 text-center">
        <div class="text-center mb-4">
          <i class="fa fa-address-book icon" aria-hidden="true"></i>
        </div>
        <h4>Secure & Safe</h4>
        <h6 class="mb-0">Dragon Earth is audited and there is a fair pre sale.</h6>
      </div>
    </div>
  </div>
</section>

<section class="section3 py-5" id="features" style="position: relative; background-color: rgb(180, 48, 127);">
  <h1 class="text-center white">FEATURES</h1>
  <div class="container my-5">
    <div class="row">
      <div class="col-lg-3 col-sm-6 mb-5">
        <div class="card text-center text-decoration-none h-100 lift">
          <div class="card-body py-5">
            <div class="text-center mb-4">
              <i class="fa fa-address-book icon" aria-hidden="true"></i>
            </div>
            <h5>Redistribution</h5>
            <p class="card-text small">A Gigantic 10% of each transaction is redistributed to all the holders</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 mb-5">
        <div class="card text-center text-decoration-none h-100 lift">
          <div class="card-body py-5">
            <div class="text-center mb-4">
              <i class="fa fa-address-book icon" aria-hidden="true"></i>
            </div>
            <h5>Marketing</h5>
            <p class="card-text small">A well thought out process of unlocking different marketing plans in different phases will be implemented
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 mb-5">
        <div class="card text-center text-decoration-none h-100 lift">
          <div class="card-body py-5">
            <div class="text-center mb-4">
              <i class="fa fa-address-book icon" aria-hidden="true"></i>
            </div>
            <h5>Unique Rewards</h5>
            <p class="card-text small">There are airdrops,meme marathons and also lottery(Goblet of Fire)events and many more</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 mb-5">
        <div class="card text-center text-decoration-none h-100 lift">
          <div class="card-body py-5">
            <div class="text-center mb-4">
              <i class="fa fa-address-book icon" aria-hidden="true"></i>
            </div>
            <h5>Targeted Focus</h5>
            <p class="card-text small">Our targeted Focus varies depending on the phase we are in</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <svg _ngcontent-c3="" xmlns:xlink="http://www.w3.org/1999/xlink" class="wave wave-green" fill="rgb(180, 48, 127)"
    preserveAspectRatio="none" style="pointer-events: none;" viewBox="0 0 1920 75" xmlns="http://www.w3.org/2000/svg">
    <defs _ngcontent-c3="">
      <style _ngcontent-c3="">
        .a {
          fill: none;
        }

        .b {
          clip-path: url(#a);
        }

        .d {
          opacity: 0.5;
          isolation: isolate;
        }
      </style>
    </defs>
    <clipPath _ngcontent-c3="" id="a">
      <rect _ngcontent-c3="" class="a" height="75" width="1920"></rect>
    </clipPath>
    <g _ngcontent-c3="" class="b">
      <path _ngcontent-c3="" class="c"
        d="M1963,327H-105V65A2647.49,2647.49,0,0,1,431,19c217.7,3.5,239.6,30.8,470,36,297.3,6.7,367.5-36.2,642-28a2511.41,2511.41,0,0,1,420,48">
      </path>
    </g>
    <g _ngcontent-c3="" class="b">
      <path _ngcontent-c3="" class="d"
        d="M-127,404H1963V44c-140.1-28-343.3-46.7-566,22-75.5,23.3-118.5,45.9-162,64-48.6,20.2-404.7,128-784,0C355.2,97.7,341.6,78.3,235,50,86.6,10.6-41.8,6.9-127,10">
      </path>
    </g>
    <g _ngcontent-c3="" class="b">
      <path _ngcontent-c3="" class="d"
        d="M1979,462-155,446V106C251.8,20.2,576.6,15.9,805,30c167.4,10.3,322.3,32.9,680,56,207,13.4,378,20.3,494,24">
      </path>
    </g>
    <g _ngcontent-c3="" class="b">
      <path _ngcontent-c3="" class="d"
        d="M1998,484H-243V100c445.8,26.8,794.2-4.1,1035-39,141-20.4,231.1-40.1,378-45,349.6-11.6,636.7,73.8,828,150">
      </path>
    </g>
  </svg>
</section>

<section class="section4" id="roadmap">
  <div class=" mb-5">
    <section id="timeline">
      <div class="tl-item">
        <div class="tl-bg" style="background-image: url('../../assets/nature.jpeg')"></div>
        <div class="tl-year">
          <p class="f2 heading--sanSerif">Phase 1</p>
        </div>
        <div class="tl-content">
          <!-- <h1>Lorem ipsum dolor sit</h1> -->
          <!-- <p> -->
          <ul>
            <li>Pre Sale</li>
            <li>Website Launch</li>
            <li>10k holders</li>
            <li>Audit</li>
          </ul>
          <!-- </p> -->
        </div>
      </div>

      <div class="tl-item">
        <div class="tl-bg" style="background-image: url('../../assets/nature1.jpeg')"></div>
        <div class="tl-year">
          <p class="f2 heading--sanSerif">Phase 2</p>
        </div>
        <div class="tl-content">
          <ul>
            <li>AirDrop1</li>
            <li>Coingecko/coinmarketcap listing</li>
            <li>Goblet Of Fire</li>
            <li>Meme Marathon</li>
            <li>Website 2.0 launch</li>
            <li>Release Marketing Road map</li>
            <li>25k holders</li>
          </ul>
        </div>
      </div>

      <div class="tl-item">
        <div class="tl-bg" style="background-image: url('../../assets/nature2.jpeg')"></div>
        <div class="tl-year">
          <p class="f2 heading--sanSerif">Phase 3</p>
        </div>
        <div class="tl-content">
          <ul>
            <li>1 lakh holders</li>
            <li>Listing in 3 central exchanges</li>
            <li>Complete 3 Air Drops</li>
            <li>Meme Marathon2</li>
            <li>Website 3.0 launch</li>
          </ul>
        </div>
      </div>

      <div class="tl-item">
        <div class="tl-bg" style="background-image: url('../../assets/nature4.jpeg')"></div>
        <div class="tl-year">
          <p class="f2 heading--sanSerif">Phase 4</p>
        </div>
        <div class="tl-content">
          <ul>
            <li>Reaching 1 million holders</li>
            <li>Major cex listings</li>
            <li>Dragon swap</li>
            <li>Comics sale and competions launch</li>
            <li>Dragon mobile gaming version1 launch</li>
            <li>Website 4.0 launch</li>
          </ul>
        </div>
      </div>

      <!-- <div class="tl-item">
        <div class="tl-bg" style="background-image: url('../../assets/nature4.jpeg')"></div>
        <div class="tl-year">
          <p class="f2 heading--sanSerif">2016</p>
        </div>
        <div class="tl-content">
          <ul>
            <li>Reaching 1 million holders</li>
            <li>Major cex listings</li>
            <li>Dragon swap</li>
            <li>Comics sale and competions launch</li>
            <li>Dragon mobile gaming version1 launch</li>
            <li>Website 4.0 launch</li>
          </ul>
        </div>
      </div>

      <div class="tl-item">
        <div class="tl-bg" style="background-image: url('../../assets/nature4.jpeg')"></div>
        <div class="tl-year">
          <p class="f2 heading--sanSerif">2016</p>
        </div>
        <div class="tl-content">
        </div>
      </div> -->
    </section>
    <!-- <img src="../../assets/roadmap.png" class="w-100" alt="Roadmap" srcset=""> -->
  </div>
</section>

<section class="section5 py-5">
  <h1 class="text-center">TOKENOMICS</h1>
  <div class="container my-5">
    <div class="row">
      <div class="col-lg-4 col-sm-6 mb-5">
        <div class="card card-tocknomics text-center text-decoration-none h-100 lift">
          <div class="card-body py-5">
            <h5>Token name</h5>
            <p class="card-text small">DRAGON EARTH</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 mb-5">
        <div class="card card-tocknomics  text-center text-decoration-none h-100 lift">
          <div class="card-body py-5">
            <h5>Token symbol</h5>
            <p class="card-text small">$DRAGON</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 mb-5">
        <div class="card card-tocknomics text-center text-decoration-none h-100 lift">
          <div class="card-body py-5">
            <h5>Total supply</h5>
            <p class="card-text small">20 trillion</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section6 mb-5 py-5">
  <h1 class="text-center">FAQ</h1>
  <div class="container my-4">
    <div class="row">
      <div class="col-lg-12 col-sm-12">
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
              What is the long term goal
            </button>
          </h2>
          <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              To Become the most popular token on Earth and reach every crypto wallet by bringing different usabilities
              to the token.
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12 col-sm-12">
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
              Why a pre sale?
            </button>
          </h2>
          <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              To Provide the initial liquidity and to get some thrust to our initial marketing
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12 col-sm-12">
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
              What are the tokenomics
            </button>
          </h2>
          <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <ul>
                <li>Pre sale - 30%</li>
                <li>PancakeSwap listing - 30%</li>
                <li>Airdrop/rewards - 30%</li>
                <li>Marketing wallet - 5%</li>
                <li>Dev Wallet - 5%</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>