/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'metropolisregular';
    src: url('./assets/fonts/metropolis.regular-webfont.woff2') format('woff2'),
         url('./assets/fonts/metropolis.regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body {
    font-family: 'metropolisregular';
}